/* Contenedor general para Iniciar Sesión y Registro */
.container, .Registro-formulario {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 80px;
    border-radius: 12px;
    box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 420px) {
    .container, .Registro-formulario {
        width: 200px;
        padding: 20px 40px;
    }
}

/* Estilos para las etiquetas de los inputs */
label, .titulos label {
    font-weight: bold;
    display: block;
    margin-bottom: 2%;
    font-size: 110%;
}

@media only screen and (max-width: 420px) {
    .titulos label {
        font-size: 100%;
    }
}

/* Estilos para los inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="emails"],
input[type="passwords"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 420px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="date"],
    input[type="emails"],
    input[type="passwords"] {
        width: 200px;
        height: 40px;
        padding: 10px;
    }
}

/* Estilos para los botones de enviar */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00704A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005E3F;
}

/* Mensajes y textos */
.login-success-message, .cuentas, .cuentas2, .text-big, .text-small {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #006241;
}

.titulossss, .text-big-two {
    font-size: 24px;
    font-weight: 800;
}

.text-small-four, .text-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, .87);
}

/* Estructura de secciones */
.section-registro, .section-container, .section-body, .container-princ, .subcontainer, .container-data, .form-section, .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section-registro {
    padding-top: 40px;
}

@media only screen and (max-width: 1235px) {
    .container-data {
        width: 100%;
        gap: 32px;
    }
}

.container-data .first {
    height: 96px;
}

.container-data .third, .form-body {
    gap: 24px;
    width: 100%;
}

.form-section {
    margin-bottom: 10%;
}

.form-section h3 {
    margin-bottom: 5%;
    font-size: 125%;
}

.textarea-option textarea {
    width: 500px;    
    min-height: 120px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .38);
}

.repta{
    padding-top: 10px;
    margin: auto;
}

.Contenido {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}