.locator-container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: max-content;
    grid-template-areas:
        "form map"
        "direction map";
}

.delivery-options {
    grid-area: form;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 25px;
    padding-left: 90px;
    padding-bottom: 40px;
    gap: 32px;
}

.delivery-title {
    /* font-size: 24px; */
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}

.locator-map {
    grid-area: map;
    height: 670px;
    display: inline-block;
    width: 100%;
}

.directions-results-container {
    padding: 0 24px 21px 78px;
}

.buttons-options {
    display: flex;
    gap: 24px;
    width: auto;
}

.button-frap-transparent-delivery {
    border-radius: 500px;
    border: 2px solid #006241;
    color: #006241;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 40px;
    position: relative;
    text-align: center;
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: transform, box-shadow, width, height;
    transition-timing-function: ease;
    z-index: 1;
    white-space: nowrap;
    cursor: pointer;
}

.button-frap-transparent-delivery.active {
    background-color: #006241;
    color: #fff;
    display: flex;
    align-items: center;
}

.sprite {
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.directions-search-form {
    display: flex;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: relative;
    margin-top: 15px;
}

.form-locator {
    display: flex;
    flex-grow: 1;
    position: relative;
    gap: 15px;
}

.directions-search-form {
    display: flex;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: relative;
    margin-top: 15px;
}

.form-locator {
    display: flex;
    flex-grow: 1;
    position: relative;
    gap: 15px;
}

.search-location-container {
    display: flex;
    width: 100%;
    gap: 24px;
}



.a-self-location {
    font-size: 14px;
    color: var(--colorBlack100);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.input-group-search {
    position: relative;
    width: 100%;
}

.input-group-field {
    position: relative;
}

input[type=search] {
    -webkit-appearance: none;
    appearance: none;
}

.search-location {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.58);
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
}

.button-filter {
    display: none;
}

.button-green-transparent {
    background: none;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    color: var(--colorGreenAccent);
    border-color: var(--colorGreenAccent);
    display: inline-block;
    font-weight: 600;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    height: max-content;
}

.directions-search-form {
    display: flex;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    position: relative;
    margin-top: 15px;
}

.form-locator {
    display: flex;
    flex-grow: 1;
    position: relative;
    gap: 15px;
}

.search-location-container {
    display: flex;
    width: 100%;
    gap: 24px;
}



.a-self-location {
    font-size: 14px;
    color: var(--colorBlack100);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.input-group-search {
    position: relative;
    width: 100%;
}

.input-group-field {
    position: relative;
}

input[type=search] {
    -webkit-appearance: none;
    appearance: none;
}

.search-location {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.58);
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 14px;
}

.button-filter {
    display: none;
}

.button-green-transparent {
    background: none;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    color: #006241;
    border-color: #006241;
    display: inline-block;
    font-weight: 600;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    height: max-content;
}

.button-send-container {
    display: flex;
    justify-content: end;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-frap {
    background: #006241;
    border-radius: 500px;
    box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 28px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: transform, box-shadow, width, height;
    transition-timing-function: ease;
    z-index: 1;
    white-space: nowrap;
    cursor: pointer;
    height: max-content;
    display: inline-flex;
    user-select: none;
}

#map {
    height: inherit;
    width: auto;
}