* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.opcion-menu:hover {
    background-color: #f0f0f0;
    color: #198a55;
}

@media (min-width: 320px) {
    body {
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 1.4rem;
    }
}

html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt";
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}



/* Estilos generales */
.content {
    max-width: 1500px;
    margin: auto;
    padding: 40px;
}

.menu-container {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: translateY(0);
}

.menu-hidden {
    transform: translateY(-100%);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 50px;
}

.menu-horizontal {
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.menu-horizontal li a {
    margin-right: 20px;
    display: block;
    padding: 15px 20px;
    color: black;
}

.menu-vertical {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li a {
    display: block;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
}

.menu-icono {
    margin-right: 40px;
    justify-content: center;
    display: none;
}

#menu {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.menu-icono img {
    width: 24px;
    height: auto;
    cursor: pointer;
}

/* Estilos para la imagen de fondo */
#fondo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Estilos para la sección con texto encima de la imagen */
.seccion-imagen {
    position: relative;

}

.texto-encima {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.texto-encima p {
    color: #1d4d23;
    font-family: 'Playfair Display', serif; /* Tipo de letra */
    font-size: 65px; /* Tamaño de letra */
}

.texto-encima h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 128, 79);
    font-size: 20px;
}
.texto-encima h3 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(19, 68, 49);
    font-size: 20px;
}

.subtitulo {
    margin-top: 10px; /* Puedes ajustar este valor según sea necesario */
}

/* Estilos para la segunda sección de contenido adicional */
.contenido-adicional2 h2 {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: green; /* Cambia el color del texto a verde */
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 0px; /* Añade espacio inferior */
}

.contenido-adicional2 p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black; /* Color del texto por defecto */
    text-align: justify; /* Justifica el texto */
    margin-bottom: 20px; /* Añade espacio inferior */
}
/* Estilos para el texto verde abajo */
/* Estilos básicos del footer */
.footer-text {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}

footer td ul li a[href="https://www.starbucksathome.com/pe/story/acerca-de-nosotros"],
    footer td ul li a[href="https://www.starbucksathome.com/pe/story/sustentabilidad-del-cafe"],
    footer td ul li a[href="http://localhost/Vscode.proyec/indexMENU.php"],
    footer td ul li a[href="https://www.starbucks.pe/pages/orders-by-the-app"],
    footer td ul li a[href="https://www.starbucks.pe/pages/culture-and-values"],
    footer td ul li [href="https://www.starbucks.pe/pages/line-and-ethics"], 
    footer td ul li a[href="https://www.starbucksathome.com/pe/terminos-y-condiciones"],
    footer td ul li a[href="https://www.starbucksathome.com/pe/terminos-y-condiciones"],
    footer td ul li a[href="http://localhost/Vscode.proyec/MERCH.php"] {
    color: #808080; /* Color gris claro */
    text-decoration: none; /* Quita el subrayado del enlace */
}

/* Estilos para el texto de "ESTILO DE VIDA" y "Café con amigos" */
.contenido-adicional2 h2,
.contenido-adicional2 h3 {
    font-family: 'Times New Roman', Times, serif;
}

/* Estilos para el footer*/


.seccion3 {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.12);
}

.seccion3 footer {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerMenu {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: auto;
    flex-flow: wrap;
    max-width: 1440px;
    margin-left: 144px;
    margin-right: 144px;
    width: 100%;
}

@media only screen and (max-width: 1440px) {
    .footerMenu {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin: auto;
        flex-flow: wrap;
        max-width: 1440px;
        width: 100%;
        padding: 0 144px;
    }
}

@media only screen and (max-width: 1280px) {
    .footerMenu {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin: auto;
        flex-flow: wrap;
        max-width: 1440px;
        width: 100%;
        padding: 0 36px;
    }
}

@media only screen and (max-width: 1024px) {
    .footerMenu {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin: auto;
        flex-flow: wrap;
        max-width: 1440px;
        width: 100%;
        padding: 0 36px;
    }
}

@media only screen and (max-width: 980px) {
    .footerMenu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 480px) {
    .footerMenu {
        display: flex;
        width: auto;
        gap: 0;
        margin-left: 16px;
        margin-right: 16px;
        padding: 0;
    }
}

.footersubmenu {
    display: inline-flex;
    max-width: 190px;
}

@media only screen and (max-width: 1440px) {
    .footersubmenu {
        max-width: 150px;
    }
}

@media only screen and (max-width: 1280px) {
    .footersubmenu {
        max-width: 150px;
    }   
}

@media only screen and (max-width: 1024px) {
    .footersubmenu {
        max-width: 150px;
    }
}

@media only screen and (max-width: 480px) {
    .footersubmenu {
        width: 95%;
        max-width: inherit;
        padding-bottom: 16px;
        padding-top: 16px;
    }
}


.footersubmenuopciones{
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .footersubmenuopciones .Expansion {
        max-height: 0;
        transition: all 0.35s;
        overflow: hidden;
    }
}

.footersubmenuopciones label {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.MenuDesple-footer {
    position: absolute;
    width: 105%;
    height: 25px;
    z-index: 3;
    cursor: pointer;
    right: -5%;
    opacity: 0;
}

*, :after, :before {
    box-sizing: inherit;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

@media only screen and (max-width: 480px) {
    .MenuDesple-footer:checked ~ .Expansion {
        max-height: 100vh;
    }
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

label {
    display: inline-block;
}

@media only screen and (max-width: 480px) {
    .footersubmenuopciones label {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .footersubmenuopciones label::after {
        content: "\276F";
        text-align: center;
        transition: all 0.35s;
        display: inline-table;
        position: absolute;
        transform: rotate(90deg);
        right: 0;
    }
}


.hr-footer {
    color: #d0d0d0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: auto;
    margin-bottom: 32px;
    width: 100%;
}

.footersubmenuopciones ul li a {
    color: rgba(0, 0, 0, 0.58);
    text-decoration: none;
    margin-bottom: 24px;
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

/* Container for 'reclamaciones' */
.reclamaciones {
    margin-bottom: 20px; /* Espacio debajo del enlace */
}

.reclamaciones img {
    max-width: 150px; /* Asegura que la imagen no se desborde */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Lista de iconos */
.wrapper {
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    gap: 20px; /* Espacio entre iconos */
    list-style: none;
    padding: 0;
}

.icon {
    position: relative; /* Para poder posicionar el tooltip */
}

.icon img {
    width: 50px; /* Tamaño del icono */
    height: 50px;
    border-radius: 50%; /* Redondea los bordes */
    transition: transform 0.2s ease-in-out;
}

.icon img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
}

.tooltip {
    display: none; /* Oculta el tooltip por defecto */
    position: absolute;
    bottom: 60px; /* Posición del tooltip */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.icon:hover .tooltip {
    display: block; /* Muestra el tooltip al pasar el ratón */
}

.lineafooter {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}



/* Estilos para la imagen de café */

.imagen-cafe {
    max-width: 500px;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    margin-top: 20px; /* Espacio superior */
}

/** About Us **/
.about-us{width: 100%;
    }
.about-us .info{
    width: 100%;
    margin-top: 100px;
}
.about-us .info h2{
    
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    
}

.about-us .info h3{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    
}
.about-us .info p {
   width: 80%;
   margin:50px auto;
   text-align: center;
   color:#000;
   font-size: 19px;
   line-height: 40px;
}
.about-us .info hr{
    width: 90%;
    border:none;
    height: 2px;
    background: #4d4d4d;
    margin:auto;
}



/* Estilos para la sección de la galería */
.gallery-section {
    width: 100%;
}

/* Estilos para el contenedor del ícono de animal */
.animal-icon {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Estilos para el contenedor principal de la galería */
.gallery-content {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Distribución de columnas */
    grid-template-rows: repeat(3, 230px); /* Distribución de filas */
    grid-gap: 10px; /* Espaciado entre las imágenes */
}

/* Estilos para las tarjetas de imagen en la galería */
.img-card {
    width: 100%;
}

/* Estilos para las imágenes dentro de las tarjetas */
.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 300ms;
    cursor: pointer;
}

/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999;
    cursor: pointer;
    display: none; /* Por defecto, el modal está oculto */
}

/* Estilos para la imagen dentro del modal */
.modal #imgModal {
    width: 75%;
    margin: 50px auto;
    height: 75%;
    display: block;
    object-fit: cover;
    cursor: auto;
}

/* Estilos para el texto de título dentro del modal */
.modal #caption {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    cursor: auto;
    text-transform: uppercase;
}

/* Estilos para el botón de cierre del modal */
.modal #closeModal {
    position: absolute;
    right: 30px;
    top: 10px;
    color: #fff;
    font-size: 30px;
    transition: 200ms;
}




.contenido-seccion-2 {
    background-color: #d6d5d5; /* Color crema humo */
    padding: 85px;
}

.texto-crema-humo {
    text-align: center;
    max-width: 1000px; /* Define el ancho máximo del contenedor del texto */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.texto-crema-humo .titulo {
    font-weight: bold; /* Negrita */
    font-size: 24px; /* Tamaño de fuente más grande */
    color: #046f26; /* Color nerde */
    font-family: 'Arial', sans-serif;
}



.mi-seccion-unica {
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: #fffbfb; /* Color de fondo claro */
}

.mi-tabla {
    display: table;
    width: auto; /* Cambiamos el ancho a automático */
    margin: 0 auto; /* Centramos horizontalmente */
}

.mi-columna {
    display: flex;
    vertical-align: middle;
    padding: 20px; 
    flex: column;
}

.mi-columna img {
    width: 500px; /* Establecemos un ancho fijo */
    height: 550px; /* Establecemos un alto fijo */
}

@media only screen and (max-width: 480px) {
    .mi-columna img {
        max-height: 100vh;
        max-width: 100vh;
    }
}

.mi-columna h2 {
    font-size: 40px; /* Tamaño de fuente para h2 */
    font-family: 'Open Sans', sans-serif; /* Tipo de fuente para h2 */
    margin-bottom: 10px;
}

.mi-columna p {
    font-size: 20px; /* Tamaño de fuente para p */
    font-family: Arial, sans-serif; /* Tipo de fuente para p */
    line-height: 1.5;
}


.nueva-seccion-unica {
    display: flex;
    justify-content: center;
    padding: 0px;
    background-color: #0C3618; /* Color de fondo claro */
}

.nueva-seccion-unica .mi-tabla {
    display: table;
    width: auto; /* Cambiamos el ancho a automático */
    margin: 0 auto; /* Centramos horizontalmente */
}

.nueva-seccion-unica .mi-columna {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.nueva-seccion-unica .mi-columna img {
    width: 450px; /* Establecemos un ancho fijo */
    height: 550px; /* Establecemos un alto fijo */
}

.nueva-seccion-unica .mi-columna h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color:#f0f0f0;
}

.nueva-seccion-unica .mi-columna h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    color:#f0f0f0;
}

.nueva-seccion-unica .mi-columna p {
    font-size: 20px;
    line-height: 1.5;
    color:#f0f0f0;
}

.user-info {
    display: none;
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    z-index: 10;
}

.menu-horizontal .hidden {
    display: none;
}

